<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    {{> header}}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation" data-view="list">
        </nav>
    </div>
    <main class="mdl-layout__content">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            과일
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            날씨
        </button>
        <div id="tabel-layer"></div>
    </main>
</div>